@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Geologica";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100vh;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #42a8c9;
}
.navbar .links {
  margin-left: auto;
}
.navbar .home-link {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #42a8c9;
}
.navbar .home-link:hover {
  color: #2c728a;
  transition: 0.3s;
}

.navbar .new-blog-link {
  margin-left: 4px;
  text-decoration: none;
  padding: 6px;
  color: white;
  background-color: #42a8c9;
  border-radius: 8px;
}

.navbar .new-blog-link:hover {
  background-color: #2c728a;
  transition: 0.3s;
}

.content {
  max-width: 100vh;
  margin: 20px auto;
  padding: 5px;
}

.blog-list h2 {
  color: #2c728a
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.blog-preview h2 {
  font-size: 20px;
  color: #42a8c9;
  margin-bottom: 8px;
}

.blog-preview p {
  color: #2c728a;
}

.blog-preview button {
  background: #a8cfc5;
  border: 0;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}

.blog-preview button:hover {
  background: #42a8c9;
}

.blog-preview a {
  text-decoration: none;
}

.blog-details h2 {
  margin: 10px 0;
  font-size: 30px;
  color: #2c728a;
}

.blog-details p {
  margin-bottom: 20px;
  font-size: 20px;
  color: #42a8c9;
}

.blog-details div {
  font-size: 15px;
  color: #2c728a;
}

.blog-details button {
  background-color: #bcddce;
  border: none;
  border-radius: 8px;
  padding: 6px 6px 4px;
}

.blog-details button:hover {
  background-color: #77b0c2;
  cursor: pointer;
  transition: 0.3s;
}

.create {
  text-align: center;
  display: block;
}

.create h2 {
  margin-bottom: 10px;
  color: #2c728a;

}

.create label {
  color: #2c728a;
  text-align: left;
  display: block;
}

.create input, .create textarea, .create select {
  display: block;
  padding: 8px 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #cacaca;
  color: #333;
  border-radius: 8px;
}

.create input::placeholder, .create textarea::placeholder {
  color: #2c728a;
  opacity: 0.7;
}

.create input:focus, .create textarea:focus, .create select:focus {
  outline: 0;
}

.create input:hover, .create textarea:hover, .create select:hover {
  border-color: #2c728a;
  transition: 0.3s;
  cursor: pointer;
}

.create button {
  color: #ffffff;
  background-color: #42a8c9;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  padding: 6px;
}

.create button:hover {
  background-color: #2c728a;
  transition: 0.3s;
}